@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(217, 12%, 63%);
  --medium-gray: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --vark-blue: hsl(216, 12%, 8%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Overpass", sans-serif;
  font-size: 62.5%;
}

body {
  background: linear-gradient(228.24deg, #141519 0%, #141519 47.17%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.container-main {
  margin: 0 auto;
  width: 327px;
  background: linear-gradient(179.59deg, #222933 0.36%, #171e28 99.64%);
  border-radius: 1.5em;
  overflow: hidden;
  padding: 2.5em;
}

.circle {
  width: 4rem;
  height: 4rem;
  background-color: var(--dark-blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt-title {
  font-weight: 700;
  color: var(--white);
  font-size: 2.4rem;
  margin: 0.96em 0 0.6em 0;
  line-height: 100%;
}

.txt-title-1 {
  margin: 0.9em 0 0.6em 0;
}

.body-txt {
  color: var(--light-gray);
  font-size: 1.4rem;
  line-height: 155%;
  font-weight: 400;
  margin-bottom: 1.0715em;
}

.container-ratings {
  display: flex;
  justify-content: space-between;
  margin: 1.2em 0 2.5em 0;
}

.rating-circle {
  color: var(--light-gray);
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.rating-circle:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: var(--white);
}
.rating-circle:active {
  background-color: var(--orange);
  color: var(--white);
}

.active-rating {
  background-color: var(--orange);
  color: var(--white);
}

.active-rating:hover {
  background-color: var(--orange);
  color: var(--white);
}

.btn-submit {
  font-size: 1.4rem;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3em;
  color: rgba(255, 255, 255, 0.7);
  background-color: var(--orange);
  width: 100%;
  border: none;
  padding: 0.87em 1em;
  border-radius: 2.5em;
  margin-bottom: 0.47em;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.btn-submit:active {
  background-color: var(--white);
  color: var(--orange);
}

/* second page design  */

.rating-request-page {
  display: none;
  flex-direction: column;
}

.rating-thanks-page {
  display: none;
  flex-direction: column;
  align-items: center;
}

.active-page {
  display: flex;
}

.illustration {
  display: block;
  margin-top: 0.8em;
  width: 143px;
}

.selected-rating {
  font-size: 1.4rem;
  color: var(--orange);
  background-color: var(--dark-blue);
  font-weight: 400;
  padding: 0.5em 0.8em;
  border-radius: 2em;
  /* line-height: 100%; */
  margin: 1.72em 0 0.65em 0;
}

.body-txt-centered {
  text-align: center;
}

/* media query  */

@media (min-width: 450px) {
  .container-main {
    width: 415px;
    border-radius: 3em;
    padding: 3.2em;
  }
  .circle {
    width: 5rem;
    height: 5rem;
  }
  .txt-title {
    font-size: 2.8rem;
  }
  .txt-title-1 {
    margin: 1.25em 0 0.5em 0;
  }
  .txt-title-2 {
    margin: 1em 0 0.5em 0;
  }
  .body-txt {
    font-size: 1.5rem;
    line-height: 155%;
  }
  .container-ratings {
    margin: 1.2em 0 3em 0;
  }
  .btn-submit {
    font-size: 1.5rem;
    margin-bottom: 0.2em;
  }
  /* thanks page style  */

  .illustration {
    width: 162px;
    margin-top: 1.2em;
  }
  .selected-rating {
    font-size: 1.5rem;
    padding: 0.5em 1.3em;
    margin: 2.2em 0 0.65em 0;
  }
} ;
